# Bağımlılıklar (Axios ve diğer tüm kurulu paketler bunun içindedir)
node_modules/

# Üretim (Build) çıktıları
dist/
build/

# Yerel ortam değişkenleri (Gizli şifreler/API anahtarları)
.env
.env.local

# Editör özel dosyaları
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp