.btn{

    height:34px;

    padding:0 22px;

    border-radius:12px;

    border:none;

    cursor:pointer;

    font-weight:600;

    transition:.25s;
}
.btn-primary{

    background:#3355f4;

    color:white;
    height: 34px;
}

.btn-primary:hover{

    background:#3659f5;
}
.icon-btn{

    width:40px;

    height:40px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:18px;

    transition:.2s;
}

.edit-btn{

    background:#eef2ff;

    color:rgb(51, 85, 244);
}

.edit-btn:hover{

    background:#dbe4ff;
}

.delete-btn{

    background:#ffeaea;

    color:#ef4444;
}

.delete-btn:hover{

    background:#ffd8d8;
}
.btn-warning{
    background:rgb(234, 239, 255);
    color:white;
}

.btn-danger{
    background:rgb(253, 236, 238);
}