.table-container{

    background:white;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 10px 25px rgba(0,0,0,.05);
}

.table{

    width:100%;

    border-collapse:collapse;
}

.table th{

    padding:22px;

    background:white;

    border-bottom:2px solid #edf0f5;

    font-size:13px;

    color:#20253a;

    font-weight:700;
}

.table td{

    padding:22px;

    border-bottom:1px solid #edf0f5;

    color:#4b5563;
}

.table tbody tr:hover{

    background:#fafcff;
}

.empty-table{

    padding:45px;
    text-align:center;
}