.stock-form {
    width: 450px;
}

.stock-form h2 {
    margin-bottom: 24px;
}

.stock-form form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.stock-form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 12px;
}